@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
  margin: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.header {
  align-items: flex-start;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.footer {
  align-items: flex-end;
  padding: 8px 24px;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
}

.left-links {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
}

.right-links {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }